<!DOCTYPE html>
<html>
<head>
    <title>Delete Successful</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="form-container">

    <div class="form-card">

        <h1>🗑️ Delete Successful</h1>

        <p class="subtitle">
            Student record deleted successfully.
        </p>

        <a href="/dashboard">
            <button type="button">
                Back to Dashboard
            </button>
        </a>

    </div>

</div>

</body>
</html>