<!DOCTYPE html>
<html>
<head>
    <title>Delete Product</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="form-container">

    <div class="form-card">

        <h1>Delete Product</h1>

        <p class="subtitle">
            Remove Product From Inventory
        </p>

        <form action="/deleteproductrecord" method="POST">

            <label>Product ID</label>

            <input
                type="number"
                name="product_id"
                placeholder="Enter Product ID"
                required>

            <button type="submit">
                Delete Product
            </button>

            <br><br>

            <a href="/storemanagement">
                <button type="button" class="secondary-btn">
                    Dashboard
                </button>
            </a>

        </form>

    </div>

</div>

</body>
</html>