<!DOCTYPE html>
<html>
<head>
    <title>Login Failed</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="form-container">

    <div class="form-card">

        <h1 style="color:red;">
            Login Failed
        </h1>

        <p class="subtitle">
            Invalid Username or Password
        </p>

        <a href="/">
            <button>
                Try Again
            </button>
        </a>

    </div>

</div>

<footer>

Smart Campus Service Portal © 2026

</footer>

</body>
</html>