<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Student</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="navbar">

    <h2>SMS Portal</h2>

    <div class="nav-links">

        <a href="/dashboard">Dashboard</a>

        <a href="/register">Register</a>

        <a href="/getstudents">Students</a>

        <a href="/findstudent">Find</a>

        <a href="/updatestudent">Update</a>

        <a href="/deletestudent">Delete</a>

        <a href="/logout">Logout</a>

    </div>

</div>

<div class="search-container">

    <div class="search-card">

        <h1>Find Student</h1>

        <p class="subtitle">
            Search student details using Student ID
        </p>

        <form action="/searchstudent" method="POST">

            <label>Student ID</label>

            <input
                type="number"
                name="student_id"
                placeholder="Enter Student ID"
                required
            >

            <button type="submit">
                Search Student
            </button>

        </form>

        <br>

       <a href="/dashboard">
            Dashboard
        </a>

    </div>

</div>

<footer>

Student Management System © 2026

</footer>


</body>
</html>