<!DOCTYPE html>
<html>
<head>
    <title>Product Added</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="form-container">

    <div class="success-card">

        <h1> Product Added Successfully</h1>

        <p>
            New product has been added to inventory.
        </p>

        <br>

        <a href="/storemanagement">
            <button class="secondary-btn">
                Dashboard
            </button>
        </a>

    </div>

</div>

</body>
</html>