<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="table-container">

    <h1>Student Management System</h1>
    <h2>Registered Students</h2>

    <table>

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>College</th>
            <th>Phone</th>
            <th>Branch</th>
        </tr>

        {% for student in students %}

        <tr>
            <td>{{ student[0] }}</td>
            <td>{{ student[1] }}</td>
            <td>{{ student[2] }}</td>
            <td>{{ student[3] }}</td>
            <td>{{ student[4] }}</td>
            <td>{{ student[5] }}</td>
        </tr>

        {% endfor %}

    </table>

    <br>

    <a href="/dashboard">
        Dashboard
    </a>

</div>

</body>
</html>